input { 
    width: 220px;
    border: none;
    
}
textarea:focus, input:focus{
    outline: none;
}
.field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.field-icon { 
    width: 45px;
    height: 45px;
    
}