.App {
  text-align: center;
}

.container {
  /* background-color: #282c34; */
  
  display: flex;
  flex-direction: column;


  font-size: calc(10px + 2vmin);
  color: white;
}

.card-list { 
  
  width: 800px;
}
.card-filters { 
  width: 350px;
  height: 100% !important;
}
.text { 
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hashtag { 
  color: rgb(237, 112, 2) !important;
}

.search-field-wrapper { 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loader-image { 
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}